@using CoreCode.Web.UI.Models.Helpers


@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}


<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vCategories.js"></script>


@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div id="DropdownAndTable"style="margin: 0 auto; width: 98%";>

    @Html.GetSelectDropdown("statusFilter","vCategories", "CategoryStatusDropdownChange", "", "",
        new Dictionary<string, string> { { "Categorias habilitadas",  "true" }, { "Categorias deshabilitadas", "false" } })

    @Html.GetTable("tblCategory", "vCategories", "BindFields", "", new List<string> { "IDCategory", "Description" },
    new List<string> { "Código", "Descripción" })

</div>


<div class="card border-secondary" style="margin: 0 auto; width: 98%";">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Modificación de categoría</div>
            <div class="col-md-4">
                @Html.GetConfirmButton("btnRegisterCategory", "Create", "vCategories", "", "Registrar")
                @Html.GetConfirmButton("btnEditCategory", "Update", "vCategories", "", "Modificar")
                @Html.GetConfirmButton("btnDisable", "Disable", "vCategories", "", "Deshabilitar")
                @Html.GetConfirmButton("btnEnable", "Enable", "vCategories", "", "Habilitar")
                @Html.GetConfirmButton("btnClean", "CleanForm", "vCategories", "", "Limpiar")


            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">

                       
                        <div class="form-group col-md-4">
                            @Html.GetInputWithLabel("txtId", "text", "Codigo", "", "", "IDCategory", false)
                        </div>
                        <div class="form-group col-md-4">
                            @Html.GetInputWithLabel("txtDescription", "text", "Descripción", "", "", "Description", true)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>