@using CoreCode.Web.UI.Models.Helpers


@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}


<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vFaqs.js"></script>
@{
    /**/

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}



<div id="DropdownAndTable"style="margin: 0 auto; width: 98%"; >
    @Html.GetSelectDropdown("statusFilter","vFaqs", "FaqStatusDropdownChange", "", "",
    new Dictionary<string, string> { { "FAQS habilitadas",  "true" }, { "FAQS deshabilitadas", "false" } })


    @Html.GetTable("tblFaq", "vFaqs", "BindFields", "", new List<string> { "ID", "Question", "Answer" },
    new List<string> { "Código", "Pregunta","Respuesta" })
</div>


<div class="card border-secondary" style="margin: 0 auto; width: 98%";>
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Información de FAQ</div>
            <div class="col-md-4">
                @Html.GetConfirmButton("btnRegisterFaq", "Create", "vFaqs", "", "Registrar")
                @Html.GetConfirmButton("btnEditFaq", "Update", "vFaqs", "", "Modificar")
                @Html.GetConfirmButton("btnDisable", "Disable", "vFaqs", "", "Deshabilitar")
                @Html.GetConfirmButton("btnEnable", "Enable", "vFaqs", "", "Habilitar")
                @Html.GetConfirmButton("btnClean", "CleanForm", "vFaqs", "", "Limpiar")


            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="form-group col-md-4">

                            @Html.GetInputWithLabel("txtId", "text", "Codigo", "", "", "ID", false)
                        </div>
                        <div class="form-group col-md-4">
                            @Html.GetInputWithLabel("txtQuestion", "text", "Pregunta", "", "", "Question", true)
                        </div>

                        <div class="form-group col-md-4">

                            @Html.GetInputWithLabel("txtAnswer", "text", "Respuesta", "", "", "Answer", true)
                        </div>

                     

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>